.mainPage{
    height:1000px;
    background-color:green;
    margin-top:50px;
}

.subheading{
    text-align:center;
    text-decoration-line:underline;
}

.subheadingText{
    text-align:center;
}

.schoolImgsDiv{
    display:flex;
    justify-content:space-around;
}