body{
    margin:0px;
    margin-top:0px;
}

.headerDiv{
    height:50px;
    width:100%;
    display:flex;
    justify-content:space-between;
    position:fixed;
    top:0;
    background-image:radial-gradient(circle, rgb(177, 177, 177), rgb(95, 95, 95));
    margin:0px;
    margin-top:0px;
}

.headerLeftDiv{
    flex:1fr;
    display:flex;
    flex-direction:row;
    z-index: 11;
    position: relative;
}

.headerRightDiv{
    flex:1fr;
}

.headerMidDiv{
    flex:2fr;
    min-width:fit-content;
}

.name{
    display:inline;
}

.roboLogo{
    width:100%;
    border-radius:15%;
    height:40px;
    width:40px;
    object-fit:contain;
}

.hamburger{
    width:20px;
}

.sidebarButton{
    border:none;
    background-color:transparent;
    transition:background-color 0.15s;
    margin-left:15px;
    padding-left:15px;
    padding-right:15px;
    z-index: 120;
}

.sidebarButton:hover{
    background-color:rgba(75, 75, 75, 0.5);
    
}