.mainPage{
    height:1000px;
    margin-top:50px;
}

.githubDiv{
    background-color: gray;
    display:grid;
    grid-template-columns:1fr;
    row-gap:15px;
    padding:15px 30px;
}

.codeDiv{
    height:140px;
    border:1px dashed black;
    display:grid;
    grid-template-rows:1fr 2fr 1fr;
}

.codeTitle{
    padding-left:20px;
    border:1px solid red;
}

.codeDescription{
    border:1px solid blue;
}

.codeLink{
    border:1px solid yellow;
}