.sidebarDiv{
    background-color:black;
    z-index:10;
    display:flex;
    flex-direction:column;
    position:fixed;
    left:-140px;
    bottom:0;
    top:50px;
    width:140px;
    padding-top:50px;
    transition:left 0.5s;
}

.homeButton{
    flex:1fr;
}

.aboutUsButton{
    flex:1fr;
}

.roboCamButton{
    flex:1fr;
}

.sponsorButton{
    flex:1fr;
}
